{% extends 'base.html' %}
{% block head %}
    <style>
        .memo {
            display: inline-block;
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>

{% endblock %}
{% block title %}
    Connect
{% endblock %}

{% block content %}
    <br>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;이번 달 Connect!</h4>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Relation</th>
            <th scope="col">최근 연락일</th>
            <th scope="col">연락 예정</th>
            <th scope="col">최근 메모</th>
            <th scope="col">Connect!</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            {% if object.user == request.user %}
                {# {% if forloop.counter <= 5 %} #}
{#                {% if object.scheduled_connect < datetime.now %}#}
                <tr>
                    {#        <th scope="row">{{ object.id }}</th>#}
                    {#        <td><a href="{% url 'friend:detail' object.id %}">{{ object.friend_name }}</a></td>#}
                    <td onclick="detail1('{{ object.id }}')">{{ object.friend_name }}</td>
                    <td>{{ object.friend_mobile }}</td>
                    <td>{{ object.friend_relation }}</td>
                    <td id="change{{ object.id }}">{{ object.latest_connect }}</td>
                    <td>{{ object.scheduled_connect }}</td>
                    <td class="memo">{{ object.friend_memo }}</td>

                    {#                    <td><input type="checkbox" aria-label="Checkbox for following text input" id="Connect"></td>#}

                </tr>
{#                {% endif %}#}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}