{% extends 'base.html' %}
{% block head %}
    <style>
        .memo {
            display: inline-block;
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>

{% endblock %}
{% block title %}
    Connect
{% endblock %}

{% block content %}
    <br>
    <h2>
        <div style="padding: 15px 0px 20px 0px" id="title">This Week Connect !</div>
    </h2>
    {% if user.is_authenticated %}
        <p>{{ user.username }}님, 이번 주에는 꼭 연락주실거죠? 기다리구 있을게요</p>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Relation</th>
            <th scope="col">최근 연락일</th>
            <th scope="col">연락 예정</th>
            <th scope="col">최근 소식</th>
            <th scope="col">연락하셨나요?</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
{#            {% if object.user == request.user %}#}
                {# {% if forloop.counter <= 5 %} #}
                {#                {% if object.scheduled_connect < datetime.now %}#}
                <tr>
                    {#        <th scope="row">{{ object.id }}</th>#}
                    {#        <td><a href="{% url 'friend:detail' object.id %}">{{ object.friend_name }}</a></td>#}
                    <td><a href="{% url 'friend:detail' object.id %}"> {{ object.friend_name }}</a></td>
                    <td>{{ object.friend_mobile }}</td>
                    <td>{{ object.friend_relation }}</td>
                    <td id="change{{ object.id }}">{{ object.latest_connect }}</td>
                    <td id="scheduled{{ object.id }}">{{ object.scheduled_connect }}</td>
                    <td class="memo">{{ object.recently_comment.comment_contents }}</td>
                    <td>
                        <BUTTON onclick="connect('{{ object.id }}')">연락함</BUTTON>
                    </td>

                    {#                    <td><input type="checkbox" aria-label="Checkbox for following text input" id="Connect"></td>#}

                </tr>
                {#                {% endif %}#}
{#            {% endif %}#}
        {% endfor %}
        </tbody>
    </table>
    {% if not user.is_authenticated %}
        <p>여기는 회원님께서 이번 주에 안부를 전할 인연들에 대해서 알려드려요!</p>
        <p>미리 이번 주에 연락할 인연들에 대해 알 수 있습니다:)</p>
        <br>
    {% endif %}
    <br>
    <br>
    <h2>
        <div style="padding: 15px 0px 20px 0px" id="title">This Week Connected !!</div>
    </h2>
    {% if user.is_authenticated %}
        <p>{{ user.username }}님, 먼저 연락주셔서 감사드려요! 행복합니다.</p>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Relation</th>
            <th scope="col">최근 연락일</th>
            <th scope="col">연락 예정</th>
            <th scope="col">최근 소식</th>
            <th scope="col">연락하셨나요?</th>
        </tr>
        </thead>

        <tbody>
        {% for object in this_week_connected %}
{#            {% if object.user == request.user %}#}
                {# {% if forloop.counter <= 5 %} #}
                {#                {% if object.scheduled_connect < datetime.now %}#}
                <tr>
                    {#        <th scope="row">{{ object.id }}</th>#}
                    {#        <td><a href="{% url 'friend:detail' object.id %}">{{ object.friend_name }}</a></td>#}
                    <td><a href="{% url 'friend:detail' object.id %}"> {{ object.friend_name }}</a></td>
                    <td>{{ object.friend_mobile }}</td>
                    <td>{{ object.friend_relation }}</td>
                    <td id="change{{ object.id }}">{{ object.latest_connect }}</td>
                    <td id="scheduled{{ object.id }}">{{ object.scheduled_connect }}</td>
                    <td class="memo">{{ object.recently_comments.comment_contents }}</td>
                    <td>
                        <BUTTON onclick="connect('{{ object.id }}')">연락함</BUTTON>
                    </td>

                    {#                    <td><input type="checkbox" aria-label="Checkbox for following text input" id="Connect"></td>#}

                </tr>
                {#                {% endif %}#}
{#            {% endif %}#}
        {% endfor %}
        </tbody>
    </table>
    {% if not user.is_authenticated %}
        <p>여기는 회원님께서 이번 주에 안부를 전한 인연들에 대해서 알려드려요!</p>
        <p>이번 주에 몇 명의 소중한 인연들이 다시 연결되었는지 알 수 있어요!</p>
        <br>
    {% endif %}

{% endblock %}
{% block extra_script %}
    <script type="text/javascript">
        function connect(id) {
            $.ajax({
                url: "/connect/" + id,
                method: "GET",
                success: function (result) {
                    $("#change" + id).html(result.latest_connect);
                    $("#scheduled" + id).html(result.scheduled_connect);
                },
                error: function (error) {
                    console.log(error)
                }
            });
        }


    </script>

{% endblock %}